

.about-services-lab{
    text-align: center;
    padding-top: 88px;
    .services-li{
        
    }
    
}
.about-services-text{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 143px;
    p{
        color: #a4a4a4;
        margin-top: 0;
        font-size: 14px;
        line-height: 24px;
    }
}