/* About us */



.about{
    padding-top: 30px;
    
    .about-tab{
        text-align: center;
        a{
            font-size: 18px;
            display: inline-block;
            padding: 5px;
            margin: 0 30px;
            position: relative;
            &.on{
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #222;
                }
            }
            
        }
    }
    
    .about-team{
        padding-top: 80px;
    }
}


.about-tab-content{
    min-height: 300px;
    .about-content{
        display: none;
        &.on{
            display: block;
        }
    }
    .pbr{
        padding-bottom: 30px;
    }
}

.about-radius-box{
    
    display: inline-block;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    border: 2px solid #ccb57b;
    margin: 0 40px;
    color: #cdb67d;
    margin-bottom: 40px;
    line-height: 24px;
    &:hover{
        background: #ccb57b;
        color: #FFF;
        
    }
    &>div{
        width: 100%;
        height: 100%;
    }
}


/* iPhone (5 - 6 plus) */
@media (min-width: 20px) and (max-width: 579px) {
  .about{
        .about-tab{
            
            a{
                margin: 0 10px;
            }
            
        }
  }
    
}


@import 'aboutTeam';

@import 'aboutValue';

@import 'aboutServices';