/* About us */



.about{
    padding-top: 30px;
    
    .about-tab{
        text-align: center;
        a{
            font-size: 18px;
            display: inline-block;
            padding: 5px;
            margin: 0 30px;
            position: relative;
            &.on{
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #222;
                }
            }
            
        }
    }
    
    .about-team{
        padding-top: 80px;
    }
}


/* iPhone (5 - 6 plus) */
@media (min-width: 20px) and (max-width: 579px) {
  .about{
        .about-tab{
            
            a{
                margin: 0 10px;
            }
            
        }
  }
    
}


@import 'aboutTeam';

@import 'aboutValue';

@import 'aboutServices';