

h1 span{
  color:#2fa68e;
}

a{
  color: #111;
}

::selection {
  background: #ada074;
  color:white;
}

::-moz-selection {
  background: #ada074;
  color:white;
}

.clear { 
    clear:both; 
}
.w9{
  max-width: 960px;
}
.m-auto{
  margin: 0 auto;
}

.section-title{
  font-size: 18px;
  text-align: center;
  color: #222;
  padding-bottom: 44px;
}
.text-big{
   text-transform:uppercase;
}

.fl{
  float: left;
}