/* Contact */

.contact{
  position:relative;
  width:100%;
  background:white;
  z-index:10;
  overflow:hidden;
  margin-bottom: 300px;
  .content{
        position:relative;
        width:900px;
        overflow:hidden;
        margin: 60px auto 65px auto;
        
        .form{
            width:455px;
            overflow:hidden;
            height:auto;
            float:left;
            .column{
                width:180px;
                overflow:hidden;
                height:auto;
                float:left;
                letter-spacing:1px;
                margin-bottom:30px;
            }
            .column-2{
                width:210px;
                padding-left:60px;
                overflow:hidden;
                height:auto;
                float:left;
                letter-spacing:1px;
                margin-bottom:30px;  
            }
            .column-3{
                width:450px;
                overflow:hidden;
                height:auto;
                float:left;
                letter-spacing:1px;
            }

        }
        
        .contact-text{
            width:405px;
            overflow:hidden;
            height:auto;
            font-weight:300;
            float:left;
            padding-left:40px;
            color:black;
            font-size:14px;
            line-height:26px;
         }
        
    }
    h1{
        font-size:34px;
        color:black;
        text-align:center;
        margin-top:120px;
        letter-spacing:6px;
        font-weight:bold;
        text-transform:uppercase;
        line-height:1.2;
    }
    hr{
        color: black;
        margin-top:30px;
        background-color: black;
        height: 1px;
        width:106px;
        border:0;
    }
    
}
