/* Footer */

.footer{

  width:100%;
  background:#3c3c3c;
  .logo{
        position:relative;
        text-align: center;
        font-size: 18px;
        margin: 0 auto;
        padding-top:42px;
        color: #a4a4a4;
        text-transform: uppercase;
        word-spacing: 8px;
    }
    .footer-nav{
        width:100%;
        text-align:center;
        margin:0 auto;
        padding-top:30px;
        overflow: hidden;
        position:relative;
        a{
            line-height:46px;
            padding:10px 60px;
            color:#a4a4a4;
            text-transform: uppercase;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -ms-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            &:hover{
                color:#ada074;
            }
        }
    }
    .copyright{
        width:90%;
        position:relative;
        font-weight:300;
        margin:0 auto;
        padding:5px 0 10px;
        text-align:center;
        font-size:12px;
        line-height:36px;
        color:#a4a4a4;
    }
}



/* iPhone (5 - 6 plus) */
@media (min-width: 20px) and (max-width: 579px) {
  .footer{ 
      .footer-nav{      
          a{
              display: block;
          }           
      }    
  }   
}



/* android  (portrait) */
@media (min-width: 580px) and (max-width: 767px) {
    
 .footer{ 
      .footer-nav{      
          a{
              padding:10px 20px;
          }           
      }    
  }   
    
}

/* iPad  (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
    
    
.footer{ 
      .footer-nav{      
          a{
              padding:10px 30px;
          }           
      }    
  }   
    
}